.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 10vh;
}

.inputs input,
Form {
  background-color: hsl(0, 0%, 5%);
  border: none;
  color: hsl(0, 0%, 70%);
  font-size: larger;
  font-size: 1rem;
  border: solid rgb(18, 18, 18) 2px;

  border-radius: 10px;
  height: 2rem;
  padding: 0px 20px;
  transition: border 0.5s;
}

.inputs input:focus {
  outline: none;
  border: 2px solid rgb(70, 70, 70);
}

li {
  font-size: larger;
}

ol {
  list-style: none;
  padding: 0;
}

button {
  background-color: black;
  color: white;
  border: solid rgb(18, 18, 18) 2px;
  padding: 10px;
  min-width: 5rem;
  font-size: medium;
  cursor: pointer;
  transition: border 0.5s;
}

.custom-class {
  border: none;
}

button:hover {
  outline: none;
  border: 2px solid rgb(70, 70, 70);
}

button:active {
  outline: none;
  background-color: rgb(29, 29, 29);
  border: 2px solid rgb(112, 112, 112);
}

.tasks {
  display: flex;
  text-align: center;
  justify-content: center;
}

#floating {
  position: fixed;
  top: 50vb;
  left: 50vb;
  right: 50vb;
}
